# compiled output
/node_modules

# Logs
logs
*.log

# OS
.DS_Store

# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
